@media (min-width: 1080px) {
  body > header {
    flex-direction: row;
  }

  body > header > nav > ul {
    align-items: center;
  }

  body > main {
    flex-direction: row;
  }

  body > main > article {
    padding: 0 100px;
  }
}
